@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';
@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat|Raleway&display=swap');
.text-font-primary {
    font-family: 'Montserrat', sans-serif;
}

.text-font-secondary {
    font-family: 'Lato', sans-serif;
}

.text-font-tertiary {
    font-family: 'Raleway', sans-serif;
}

.fadeIn {
    text-align: center;
    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s;
    /* Firefox < 16 */
    -ms-animation: fadein 2s;
    /* Internet Explorer */
    -o-animation: fadein 2s;
    /* Opera < 12.1 */
    animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}